# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/
*.egg-info/

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Data - Ignore all raw/processed data by default.
# Use .gitkeep to ensure directories are tracked.
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Models & Artifacts
models/*
!models/.gitkeep

# MLflow
mlruns/

# Notebook checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log
